@import url("https://use.typekit.net/ple7pgn.css");

:root {
  --border-radius: 8px;
  --color-primary: #0C303A;
  --color-code-bg: #FFFFFF;
  --color-code: #8a6534;
  --color-seashore: #ECEBE8;
  --color-sand: #D9D1B8;
  --color-deep-sea: #0C303A;
  --color-kelp: #50593B;
  --color-suntan-coral: #A66B49;
  --color-boardwalk: #DFB79D;
  --font-sans:  "Halcom", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-serif: "New Kansas", "Georgia", serif;
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
}
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-deep-sea);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
  background-color: var(--color-deep-sea);
}
a {
  background-color: transparent;
  color: var(--color-deep-sea);
  text-decoration: none;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}
a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
h1 {
  margin: 0;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01em;
}
h1 > b {
  color: var(--color-deep-sea);
}
img {
  border-style: none;
  max-width: 100%;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
ul,
p {
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-4);
}
ul {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
}
b,
strong
{
  font-weight: bold;
}
li {
  margin-bottom: calc(var(--space-4) / 2);
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(var(--space-4) / 2);
}
p {
  max-width: 680px;
}
.hero {
  background-color: var(--color-seashore);
  width: 95vw;
  height: 89vh;
  margin: 0 auto;
}
#hero-width {
  width: 50%;
  margin: 0 auto;
  position: relative;
  top: -20px;
}
#hero-width p,
#hero-width h2 {
  position: relative;
  top: -140px;
}
#logo {
  height: 400px;
  width: auto;
}
h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.155em;
  text-transform: uppercase;
}
.btns {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 0 auto;
}
.primary-btn {
  border: 2px solid var(--color-kelp);
  background: transparent;
  color: var(--color-kelp);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 8px;
  font-size: .8em;
}
.primary-btn:hover {
  background-color: var(--color-kelp);
  color: var(--color-seashore);
  transition: all .2s ease-in-out;
}
.subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 159.5%;
  text-align: center;
  letter-spacing: 0.155em;
  text-transform: uppercase;
  color: var(--color-deep-sea);
  padding-top: 30px;
}